.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
    "header"
    "content";
    height: 100vh;
}

.header{
    grid-area: header;
}

.body {
    grid-area: content;
    background-color: #444a50;

}

.ui-carousel-items-content {
    overflow: hidden;
    width: 1400px !important;
}

